@page   "/sucesso"
<div class="container m-5">
    <div class="alert alert-success text-center" role="alert">
        <h1>Cadastro Atualizado Com Sucesso</h1>
        <p>Esta Tela pode ser fechada</p>
    </div>
</div>
