<div class="alert alert-primary" role="alert">
    <p>
        Prezado Sr. @NomeParaSaudacao!
    </p>
    <p class="text-justify">
        Visando as boas práticas de privacidade e gestão de dados nos princípios da nova LGPD - Lei Geral de Proteção de
        Dados -
        Estamos atualizando os dos nossos associados. <br>
        Por Favor Gostaria que verificasse os dados abaixo e corrigisse qualquer informação que se encontre
        desatualizada.
    </p>

    <p>
        <b>
            Nossa Equipe de comunicação entrará em contato em breve para confirmar o processo e esclarecer possíveis
            dúvidas
        </b>
    </p>
</div>

@code {
    [Parameter] public string NomeParaSaudacao { get; set; }
}
