
<div class="card mt-4">
    <div class="card-header text-center">
        <h1>Dr. @NomeCompletoMedico</h1>
        <h2 class="text-muted">CRM: @CRM</h2>
    </div>
</div>


@code {
    [Parameter] public string NomeCompletoMedico { get; set; }
    [Parameter] public int CRM { get; set; }
}
