
<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
     class="bi bi-file-earmark-person" viewBox="0 0 16 16">

    @if (PathImage != null)
    {
        @foreach (var item in PathImage)
        {
            <path d="@item"></path>
        }

    }

</svg>
    <h5 class="card-title  d-inline">@Titulo:</h5>

    @code {
        [Parameter] public string Titulo { get; set; }
        [Parameter] public string[] PathImage { get; set; }
    }
