
<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
     class="@classe"
      viewBox="0 0 16 16">

    @PathsFragment



</svg>
    <h5 class="card-title  d-inline">@Titulo:</h5>

    @code {
        [Parameter] public string Titulo { get; set; }
        [Parameter] public RenderFragment PathsFragment { get; set; }
        [Parameter] public string classe { get; set; }

    }
