@inherits ContainerBase
@using RecadastroAMG.Web.Shared.formulario.InformacoesPessoais

<CardComponent>
    <TitleFragment>
        <ContainerTitle Titulo="Informações Pessoais" classe="bi bi-file-earmark-person">
            <PathsFragment>
                <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z" />
            </PathsFragment>
        </ContainerTitle>
    </TitleFragment>
    <BodyFragment>
        <VerticalLabel labelText="CPF:" idDoAlvo="cpf" classe="col-md-6 col-lg-2">
            <InputText @bind-Value="Model.personalInfo.CPF" class="form-control" id="cpf" placeholder="Digite seu CPF" required />
        </VerticalLabel>

        <VerticalLabel labelText="Data de Nascimento:" idDoAlvo="dtNascimento" classe="col-md-6 col-lg-2">
            <InputDate @bind-Value="Model.personalInfo.DataNascimento"
                       class="form-control" id="dtNascimento" placeholder="Digite seu CPF" required />
        </VerticalLabel>

        <VerticalLabel classe="col-md-6 col-lg-2" labelText="Ano de Formatura:" idDoAlvo="anoFormatura">
            <InputSelect class="form-select" id="anoFormatura" @bind-Value="Model.personalInfo.AnoFormatura">
                <option value="">Select classification ...</option>
                <option value="Exploration">2000</option>
                <option value="Diplomacy">Diplomacy</option>
                <option value="Defense">Defense</option>
            </InputSelect>
        </VerticalLabel>


        <VerticalLabel classe="col-md-6 col-lg-2" labelText="Especialidade" idDoAlvo="Especialidade">
            <InputSelect id="Especialidade" class="form-select" @bind-Value="Model.personalInfo.Especialidade">
                <option>Acumputura</option>
            </InputSelect>
        </VerticalLabel>

        <VerticalLabel classe="col-md-6 col-lg-2" labelText="Sexo" idDoAlvo="sexo">
            <InputSelect class="form-select" id="sexo" @bind-Value="Model.personalInfo.Sexo">
                <option>masc</option>
            </InputSelect>
        </VerticalLabel>
    </BodyFragment>
</CardComponent>

